<div id="calculator-container container-fluid">
  <div class="row py-5">
    <input id="the-result" type="text" [(ngModel)]="result" disabled />
  </div>
  <div class="row">
    <button class="col" type="button" (click)="clearResult()">AC</button>
    <button class="col" type="button" (click)="deleteLast()">✕</button>
  </div>
  <div class="row">
    <button class="col" type="button" (click)="appendOperator('+')">+</button>
    <button class="col" type="button" (click)="appendOperator('-')">-</button>
    <button class="col" type="button" (click)="appendOperator('*')">×</button>
    <button class="col" type="button" (click)="appendOperator('/')">÷</button>
  </div>
  <div class="row">
    <button class="col" type="button" (click)="appendToScreen('7')">7</button>
    <button class="col" type="button" (click)="appendToScreen('8')">8</button>
    <button class="col" type="button" (click)="appendToScreen('9')">9</button>
  </div>
  <div class="row">
    <button class="col" type="button" (click)="appendToScreen('4')">4</button>
    <button class="col" type="button" (click)="appendToScreen('5')">5</button>
    <button class="col" type="button" (click)="appendToScreen('6')">6</button>
  </div>
  <div class="row">
    <button class="col" type="button" (click)="appendToScreen('1')">1</button>
    <button class="col" type="button" (click)="appendToScreen('2')">2</button>
    <button class="col" type="button" (click)="appendToScreen('3')">3</button>
  </div>
  <div class="row">
    <button class="col" type="button" (click)="appendToScreen('0')">0</button>
    <button class="col" type="button" class="lead" (click)="calculateResult()">=</button>
  </div>
</div>
